<fieldset>
  <legend>Reminder e-mails Plugin Settings</legend>
  <p>
    <label>Rake path:</label><%= text_field_tag 'settings[rake_path]', settings['rake_path'] %>
  </p>
  <p>
    <label>Reminder script path:</label><%= text_field_tag 'settings[script_path]', settings['script_path'] %>
  </p>
</fieldset>
